/* RESET */
*{margin:0;padding:0;box-sizing:border-box;font-family:Arial;}

/* BACKGROUND REDMAGIC STYLE */
body{
background:
radial-gradient(circle at 20% 20%, #ff004c33, transparent 40%),
radial-gradient(circle at 80% 70%, #00ffd533, transparent 40%),
#05050a;
color:white;
overflow-x:hidden;
}

/* HEADER */
header{
display:flex;
align-items:center;
justify-content:space-between;
padding:10px;
background:#0d0d14;
border-bottom:1px solid #222;
}

.logo{
width:35px;
border-radius:50%;
}

header h1{
font-size:14px;
}

/* GAMES */
.games{
display:flex;
justify-content:space-around;
margin-top:40px;
}

.game{
text-align:center;
cursor:pointer;
transition:0.3s;
}

.game:hover{
transform:scale(1.1);
}

.game img{
width:120px;
border-radius:12px;
pointer-events:none;
}

/* TARIFS */
.tarifs{
display:none;
padding:10px;
display:grid;
grid-template-columns:1fr 1fr;
gap:10px;
margin-top:20px;
}

.card{
background:#111827;
padding:10px;
border-radius:10px;
text-align:center;
cursor:pointer;
transition:0.2s;
}

.card:hover{
transform:scale(1.05);
}

.card img{
width:50px;
}

/* OVERLAY */
.overlay{
display:none;
position:fixed;
inset:0;
background:rgba(0,0,0,0.7);
z-index:10;
}

/* POPUP FLY */
.popup{
display:none;
position:fixed;
top:50%;
left:50%;
transform:translate(-50%,-50%) scale(0.8);
background:#0f172a;
padding:20px;
border-radius:12px;
width:90%;
max-width:400px;
z-index:20;
animation:fly .3s ease;
}

.popup.show{
display:block;
transform:translate(-50%,-50%) scale(1);
}

@keyframes fly{
from{transform:translate(-50%,30%) scale(.8);opacity:0;}
to{transform:translate(-50%,-50%) scale(1);opacity:1;}
}

/* INPUT */
input{
width:100%;
padding:10px;
margin:5px 0;
background:#111;
border:none;
color:white;
}

/* BUTTON */
button{
width:100%;
padding:10px;
background:#ff004c;
border:none;
color:white;
font-weight:bold;
}

/* SUCCESS */
.success{
display:none;
position:fixed;
inset:0;
background:rgba(0,0,0,0.8);
justify-content:center;
align-items:center;
}

.success-content{
background:#111827;
padding:20px;
border-radius:10px;
text-align:center;
}

/* FACEBOOK */
.fb-icon{
position:fixed;
bottom:15px;
left:15px;
background:#1877f2;
width:40px;
height:40px;
border-radius:50%;
display:flex;
justify-content:center;
align-items:center;
color:white;
text-decoration:none;
}

/* LOADING */
#loadingScreen{
position:fixed;
inset:0;
display:none;
background:black;
justify-content:center;
align-items:center;
flex-direction:column;
z-index:9999;
}

.spinner{
width:50px;
height:50px;
border:4px solid #333;
border-top:4px solid #ff004c;
border-radius:50%;
animation:spin 1s linear infinite;
}

@keyframes spin{
100%{transform:rotate(360deg);}
}

.loading-text{
margin-top:10px;
}
