* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial;
    background: #0b0f1a;
    color: white;
    display: flex;
    justify-content: center;
}

.wrapper {
    width: 100%;
    max-width: 400px;
}

/* HEADER */
header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background: #020617;
}

/* ICONS */
.games {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    margin-top: 30px;

    transition: 0.3s ease;
}

.game {
    text-align: center;
    cursor: pointer;
}

.game img {
    width: 150px;
    border-radius: 12px;
}

/* TARIFS */
.container {
    display: none;
    padding: 10px;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 8px;
}

.card {
    background: #1e293b;
    padding: 10px;
    border-radius: 8px;
    font-size: 12px;
    text-align: center;
    cursor: pointer;
}

.price {
    color: #22c55e;
    font-weight: bold;
    display: block;
    margin-top: 3px;
}

h2 {
    font-size: 13px;
    margin: 10px 5px;
    opacity: 0.7;
}

/* FORM */
.form-box {
    display: none;
    padding: 10px;
}

input, button {
    width: 100%;
    padding: 10px;
    margin: 6px 0;
    border-radius: 6px;
    border: none;
}

button {
    background: #22c55e;
    color: black;
}

/* ANIMATION */
.fade {
    animation: fadeIn 0.3s ease;
}

@keyframes fadeIn {
    from {opacity: 0; transform: translateY(10px);}
    to {opacity: 1; transform: translateY(0);}
    }
